---
import Layout from '../layouts/About.astro';
---

<Layout
	title="About"
	description="Victor Guadarrama Software Engineer - Website developed with Astro"
	pubDate={new Date('January 22 2025')}
	heroImage="/2025.png"
>
	<p>
		This is my personal website, where I share my thoughts, ideas, and projects. I'm a software engineer
		who loves to code and learn new things. I'm also a huge fan of AI and its potential to transform our
		world.
	</p>

	<p>
		This website is built with Astro, a static site generator that allows me to create fast and
		efficient websites. I'll be adding a blog section where I'll share what I'm learning and my
		thoughts on different topics.
	</p>

	<p>
		Feel free to reach out to me if you have any questions.
	</p>
</Layout>
